  <!--COMPLETED ACTIONS DONUTS CHART-->
<h3>NOTIFICATIONS</h3>
                      
    <!-- First Action -->
    <div class="desc">
      <div class="thumb">
        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="details">
        <p><muted>Acount created </muted><br/>
           <a href="#">Database</a> Updated.<br/>
        </p>
      </div>
    </div>
    <div class="desc">
      <div class="thumb">
        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="details">
        <p><muted> Yoy have licence</muted><br/>
           for one month<br/>
        </p>
      </div>
    </div>
    <div class="desc">
      <div class="thumb">
        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="details">
        <p><muted>Model Papers</muted><br/>
            Install successfully<br/>
        </p>
      </div>
    </div>
    <div class="desc">
      <div class="thumb">
        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="details">
        <p><muted>Reaging meterials</muted><br/>
            Downlods<br/>
        </p>
      </div>
    </div>
    <h3>TEAM MEMBERS</h3>
  <!-- First Member -->
  <div class="desc">
    <div class="thumb">
      <img class="img-circle" src="img/umakant.jpg" width="35px" height="35px" align="">
    </div>
    <div class="details">
      <p><a href="#">Umakant Verma</a><br/>
         <muted>Web developer,Mumbai</muted><br>
         <muted>Email : umakant@achieveee.com</muted>
         <br>
         <muted>Mobile : 07506163660</muted>
      </p>
    </div>
  </div>
  <!-- Second Member -->
  <div class="desc">
    <div class="thumb">
      <img class="img-circle" src="img/indresh.jpg" width="35px" height="35px" align="">
    </div>
    <div class="details">
      <p><a href="#">Indresh patel</a><br/>
         <muted>LicExamGuru Founder</muted><br>
         <muted>Email : licexamguru@gmail.com</muted>
         <br>
         <muted>Mobile : 07505699666</muted>
      </p>
    </div>
  </div>
 
